<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Players</title>
  <link rel="shortcut icon" href="https://logos-world.net/wp-content/uploads/2021/11/WWE-Emblem.png" type="image/x-icon">
  <link rel="stylesheet" href="/nodejs-player-app/Styles/index.css">
</head>
<body>
  <div id="main">
    <h1 id="title"><span>All</span> Players</h1>
  <a id="btn" href="/api/players">click to see players</a>
  </div>
</body>
</html>